.text-muted {
    color: #000;
}

.text-primary {
    color: #222;
}

p.nomargin {
    margin: 0 0 0 0px;
    margin-left: 15px;
}
h3.nomargin {
    margin: 0 0 0 0px;
    margin-left: 15px;
}
h3.track {
    margin: 15 15 15 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}
p {
    margin: 0 0 0px;
    font-size: 18px;
    line-height: 1.5;
}

p.large {
    font-size: 16px;
}

a,a:hover,a:focus,a:active,a.active {
    outline: 0;
}

a:hover,a:focus,a:active,a.active {
    color: #000;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #000033;
}

.bg-darkest-gray {
    background-color: #222;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}


.service-heading {
    margin: 15px 0;
    text-transform: none;
}


body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


h1,h2,h3,h4,h5,h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


/*@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}
@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}*/

.light {
    font-weight: 400;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

/*
 NAVBAR
*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #0005;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000B;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

@media(max-width:766px) {
    .navbar {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .top-nav-collapse {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
}


/*
 INTRO
 */

.intro {
    display: table;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/25-mobile.jpg) center no-repeat;
    background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:450px) {
    .intro {
       background: url(../img/25-small.jpg) center no-repeat;
       background-size: cover;
    }
}

@media(min-width:767px) {
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.2);
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

h1.main {
    font-weight: 100;
}

h2.main {
    font-weight: 200;
}

a {
    color: #ADD8E6;
}

header#contact {
    background: url(../img/music4-bg-mobile.jpg) center /cover no-repeat fixed;
}

header#about {
    background: url(../img/24-mobile.webp) center /cover no-repeat fixed;
}

section#research {
    background: url(../img/54-mobile.webp) center /cover no-repeat fixed;
}

section#portfolio {
     background: url(../img/26-mobile.jpg) center /cover no-repeat fixed;
}

section#portfolio2 {
     background: url(../img/19-mobile.webp) center /cover no-repeat fixed;
}

@media(min-width:450px) {
    header#about {
       background: url(../img/24-small.jpg) center /cover no-repeat fixed;
    }
    header#contact {
       background: url(../img/music4-bg.jpg) center /cover no-repeat fixed;
    }
    section#research {
       background: url(../img/54-small.jpg) center /cover no-repeat fixed;
    }
    section#portfolio {
       background-image: url(../img/26-small.jpg) center /cover no-repeat fixed;
    }
    section#portfolio2 {
       background-image: url(../img/19-small.jpg) center /cover no-repeat fixed;
    }
}

.project {
    padding-top: 40px;
    padding-bottom: 10px;
}

@media(max-width: 766px) {
  .fade-overlay
  {
      background-image: linear-gradient(to top,
              rgba(0,0,0,0.6) 90%,
              rgba(0,0,0,0.0));
  }
}
@media(min-width: 767px) {
  .project {
    background-image: linear-gradient(to right,
        rgba(0,0,0,0.0) 0%,
        rgba(0,0,0,0.3) 2%,
        rgba(0,0,0,0.5) 5%,
        rgba(0,0,0,0.6) 10%,
        rgba(0,0,0,0.6) 90%,
        rgba(0,0,0,0.5) 95%,
        rgba(0,0,0,0.3) 98%,
        rgba(0,0,0,0.2) 99%,
        rgba(0,0,0,0.0) 100%);
  }
}

#abouttext {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right,
            rgba(255,0,0,0),
            rgba(50,50,50,0.4),
            rgba(50,50,50,0.4),
            rgba(50,50,50,0.4),
            rgba(255,0,0,0));
}

.projecttext h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 200;
}

.projecttext h3.section-subheading {
    margin-bottom: 15px;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

/*
 Portfolio CSS
  */
 .portfolio-item {
    right: 0;
    margin: 0 0 15px;
    float: left;
}

 .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

 .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(250,250,250,.6);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: ease-in-out .5s;
}

 .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #000;
}

 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    .portfolio-item {
        margin: 0 0 5px;
    }
}

.portfolio p:
{
    font-size: 20pt;
}